Practical_Assignment/B_Majozi_Practical_Assignment/B_Majozi_Practical_Assignment/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDateofB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateofB" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDateofBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDateofBResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContactNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getContactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateofB" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ContactNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pizza" type="xs:boolean" />
        <xs:element minOccurs="0" name="past" type="xs:boolean" />
        <xs:element minOccurs="0" name="papwor" type="xs:boolean" />
        <xs:element minOccurs="0" name="other" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>