Practical_Assignment/B_Majozi_Practical_Assignment/B_Majozi_Practical_Assignment/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64037/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64037/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserName" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDateofB_InputMessage">
    <wsdl:part name="parameters" element="tns:getDateofB" />
  </wsdl:message>
  <wsdl:message name="IService1_getDateofB_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDateofBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getContact_InputMessage">
    <wsdl:part name="parameters" element="tns:getContact" />
  </wsdl:message>
  <wsdl:message name="IService1_getContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContactResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setUser_InputMessage">
    <wsdl:part name="parameters" element="tns:setUser" />
  </wsdl:message>
  <wsdl:message name="IService1_setUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:setUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUser" message="tns:IService1_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserResponse" message="tns:IService1_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserName" message="tns:IService1_getUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserNameResponse" message="tns:IService1_getUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserEmail" message="tns:IService1_getUserEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserEmailResponse" message="tns:IService1_getUserEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDateofB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDateofB" message="tns:IService1_getDateofB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDateofBResponse" message="tns:IService1_getDateofB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getContact" message="tns:IService1_getContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getContactResponse" message="tns:IService1_getContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setUser" message="tns:IService1_setUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setUserResponse" message="tns:IService1_setUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IService1/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserName">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDateofB">
      <soap:operation soapAction="http://tempuri.org/IService1/getDateofB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContact">
      <soap:operation soapAction="http://tempuri.org/IService1/getContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUser">
      <soap:operation soapAction="http://tempuri.org/IService1/setUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64037/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>